<htmkl>
    <body>
        <h1>Create Movie Page</h1>
        <form action="/CreateMoviePage/storeMovie" method="POST">
        Name:       <input name="name" type="text"><br/>
        Language: <select name="language">
            <option value="Chinese">Chinese</option>
            <option value="Spanish">Spanish </option>
            <option value="English">English</option>
            <option value="Hindi">Hindi </option>
            <option value="Arabic">Arabic</option>
            <option value="Bengali ">Bengali </option>
            <option value="Portuguese">Portuguesen</option>
            <option value="Russian">Russian</option>
            <option value="Japanese">Japanese</option>
            <option value="Hebrew">Hebrew</option>
            </select><br/>
        Genres: <br/>
        War:         <input type="checkbox" name="War"><br/>
        Crime:       <input type="checkbox" name="Crime"><br/>
        Drama:       <input type="checkbox" name="Drama"><br/>
        Action:      <input type="checkbox" name="Action"><br/>
        Sports:      <input type="checkbox" name="Sports"><br/>
        Comedy:      <input type="checkbox" name="Comedy"><br/>
        Western:     <input type="checkbox" name="Western"><br/>
        Animated:    <input type="checkbox" name="Animated"><br/>
        Adventure:   <input type="checkbox" name="Adventure"><br/>
        Documentary: <input type="checkbox" name="Documentary"><br/>
        <input type="submit" value="Create New Movie">
        </form>
        

    </body>
</htmkl>