<!DOCTYPE html>
<html>
    <body>
        
        
        <form action="/getlogindata" method="POST">
        UserName : <input name="user" type="text"><br/>
        Password : <input name="pwd" type="text"><br/>
        <input type="submit" value="Log in">
        </form><br/>
  

    
             
   


        
    </body>
</html>
