<html>
    <body>
        
        <h1>welcome to Menue Page</h1>
        <a href="./SearchMoviesPage">Search for movies</a><br/>
        <a href="./CreateMoviePage">Create new movie</a>
        <% if(data === "admin" ) { %>
            <br/>
            <a href="./UsersManagementPage">Edit Users</a>
            <% } %>
    </body>
</html>