<htmkl>
    <body>
        <h1>Search Movies Page</h1>
        <form action="/SearchMoviesPage/searchMovie" method="POST">
        Name:     <input name="name" type="text"><br/>
        Genre : <select name="genres">
            <option value="War">War</option>
            <option value="Crim">Crim</option>
            <option value="Drama">Drama</option>
            <option value="Action">Action</option>
            <option value="Sports">Sports</option>
            <option value="Comedy">Comedy</option>
            <option value="Western">Western</option>
            <option value="Animated">Animateda</option>
            <option value="Adventure">Adventure</option>
            <option value="Documentary">Documentary</option>
            </select><br/>
        Language: <select name="language">
                <option value="Chinese">Chinese</option>
                <option value="Spanish">Spanish </option>
                <option value="English">English</option>
                <option value="Hindi">Hindi </option>
                <option value="Arabic">Arabic</option>
                <option value="Bengali ">Bengali </option>
                <option value="Portuguese">Portuguesen</option>
                <option value="Russian">Russian</option>
                <option value="Japanese">Japanese</option>
                <option value="Hebrew">Hebrew</option>
                </select><br/>
                <input type="submit" value="Search"><br/>
            </form>
                <a href="/MenuPage">Back</a>
        
    </body>
</htmkl>
